.projects{
    padding: 110px 85px;
}
.projects .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.projects .header button{
    margin-left: 1rem;
    padding: 0.8rem 2rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
}
.projects .header button:hover{
    background-color: #000;
    color: #fff;
}
.project-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  40px;
    align-items: center;
    justify-content: center;
}
.project-items .item{
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}
.project-items .item:hover{
    transform:scale(1.1);
}
.project-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}
.project-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}
.project-items .item .info h4{
    font-size: 20px;
}
.project-items .item .info p{
    font-size: 13px;
    color: #666;
}
.project-items .item .info a{
    margin-left: 2px;
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #666;
}


@media screen and (max-width: 480px){
    .projects{
        margin-top: 250px;
        padding: 70px 35px;
    }
    .info h3{
        font-size: 14px;
        margin-top: 20px;
    }
    .projects .header button{
        padding: 0.3rem 1.5rem;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .projects .header{
        flex-direction: column;
        margin-left: -40px;
    }
    .projects .project-items{
        grid-template-columns: 1fr;
        margin-top: -20px;
    }
    .projects .project-items .item{
        width: 100%;
    }
}